/*
*   basic-format.css -- CSS for simple redirect webpages
*
*   Clifford Black, David Carlin, Nicholas Pieros - 5/3/2017
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: sans-serif;
    color: #5D6063;
    background-color: #7BB0EC;
}
.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.green-btn {
    border-radius: 17px;
    box-shadow: 0px 1px 3px #666666;
    font-family: Courier New;
    color: #000000;
    border: solid #1f8c38 1px;
    text-decoration: none;
}
.green-btn:hover {
    background: #4ca183;
    background-image: -webkit-linear-gradient(top, #4ca184, #419b6d);
    background-image: -moz-linear-gradient(top, #4ca184, #419b6d);
    background-image: -ms-linear-gradient(top, #4ca184, #419b6d);
    background-image: -o-linear-gradient(top, #4ca184, #419b6d);
    background-image: linear-gradient(to bottom, #4ca184, #419b6d);
    text-decoration: none;
}
input {
    width: 200px;
    height: 20px;
    margin: 2px;
}
.menu-container {
    color: #fff;
    background-image: linear-gradient(to bottom right, #4ea288, #3b9860);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu {
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.logo img {
    height: 60px;
    weight: auto;
}
