/*
*   uploads.css -- CSS for uploading 
*
*   Clifford Black, David Carlin, Nicholas Pieros - 5/3/2017
*/

#title {
    font-size: 20px;
    font-family: Courier, monospace;
    height: 28px;
    font-weight: bold;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e6e6;
    margin: 10px 0 10px 0;
    outline: none;
}
#caption {
    border-radius: 2px;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e6e6;
    margin: 10px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    width: 100%;
    height: 150px;
}
.content {
    height: 100vh;
}
.create-post-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload {
    width: 600px;
}
.file-upload-results {
    font-size: 25pt;
    text-align: center;
}
